<div class="new_session">
  <div class="login_square">
    <div class="login_header">
      <%= image_tag('logo.png') %>
      <span>dofast</span>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form_login">
        <div class="field_text">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field_text">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="button_login">
          <%= f.submit "Login" %>
        </div>
      </div>
    <% end %>

    <div class="login_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
