<!DOCTYPE html>
<html>
  <head>
    <title>Dofast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main_container">
      <% if user_signed_in? %>
        <aside class="sidebar_container">
          <%= render 'layouts/sidebar' %>
        </aside>
      <% end %>
      <div class="content_container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/dec85c1e0a.js" crossorigin="anonymous"></script>
</html>
